CSCI3260_Assignment1/Project1/Dependencies/glew/*
CSCI3260_Assignment1/Project1/Dependencies/GLFW/*
CSCI3260_Assignment1/Project1/Dependencies/glm/*
CSCI3260_Assignment1/.vs/
CSCI3260_Assignment1/Project1/Submit/1155149111.zip
CSCI3260_Assignment1/Project1/Submit/output1.png
CSCI3260_Assignment1/Project1/Submit/output2.png
